
.context-menu{
  /*-fx-border-color: rgb(0,0,0);*/
	-fx-padding: 0;
}

.custom-menu-item {
    -fx-background-color: white;
    -fx-padding: 0;
   /*-fx-border-color: rgb(255,0,0);
   	-fx-border-width: 3.0pt ;*/
   	
}

.custom-menu-item:focused {
    -fx-background-color: white;
}

.button-popup{
	-fx-pref-width: 100;
}

.progress-indicator .percentage{
	-fx-font-size: 10;
	
}

.masking-pane {
    -fx-background-color: -fx-background;
}

.table-column {
  -fx-alignment: CENTER;
}





  /* to disable selection highlighting */
 .table-row-cell:filled:selected { 
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
 -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}


 .tree-table-row-cell:filled:selected { 
    -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
 -fx-table-cell-border-color: derive(-fx-color, 5%);
 
}

/*remove empty rows and add border */


.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:empty {
    -fx-background-color: transparent;
}

.tree-table-row-cell:empty .tree-table-cell {
    -fx-border-width: 0px;
}


 /*Top level categories of items in inventory treetableview pseudoclass style */
.tree-table-row-cell:top-level-treetableview,
.tree-table-row-cell:filled:selected:top-level-treetableview{
	-fx-font-size:14;
	-fx-background-color: 	#F0F0F0 ;
	
}


/*for tableview cell editing */
.text-field-table-cell>* { 
	-fx-background-color: lightgrey;
	-fx-padding: 0 ;
	-fx-alignment: center;
}

.text-field-table-cell>*:focused { 
	-fx-background-color: lightblue;
	-fx-padding: 0 ;
	-fx-alignment: center;
}

