
.context-menu{
  /*-fx-border-color: rgb(0,0,0);*/
	-fx-padding: 0;
}

.custom-menu-item {
    -fx-background-color: white;
    -fx-padding: 0;
   /*-fx-border-color: rgb(255,0,0);
   	-fx-border-width: 3.0pt ;*/
   	
}

.custom-menu-item:focused {
    -fx-background-color: white;
}

.button-popup{
	-fx-pref-width: 100;
}

.progress-indicator .percentage{
	-fx-font-size: 10;
	
}

.masking-pane {
    -fx-background-color: -fx-background;
}

.table-column {
  -fx-alignment: CENTER;
}

.tree-table-row-cell:top-level-treetableview{
	-fx-font-size:20;
	-fx-background: green ;
}
/* 
.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}
 */
